body
{
    margin: 0px;
    padding: 0px;
}


h1{
    font-size: 80px;
    font-family: comic-sans;
    text-align: center;
    position: relative;
    z-index: 10;

}


.background{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
    background-image: url(https://cdn.discordapp.com/attachments/366762821763203083/1208963327502581770/52565304936_b7f9913fea_o.png?ex=65e531d6&is=65d2bcd6&hm=bb6cb67138b79d728df321877790f2cff0dc9dbe66086577df47dac51615f418&);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* .background::before {
    content:'';
    background-image: url(https://cdn.discordapp.com/attachments/366762821763203083/1208963327502581770/52565304936_b7f9913fea_o.png?ex=65e531d6&is=65d2bcd6&hm=bb6cb67138b79d728df321877790f2cff0dc9dbe66086577df47dac51615f418&);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    opacity: 0.75;
    z-index: 1; */
}